OAuth params don't come back as params in the URL

Pretty sure I'm doing this right. Related to #1156 

Request URI:
`https://panoptes.zooniverse.org/oauth/authorize?response_type=token&client_id=400ef4a4e543...&redirect_uri=http://demo.zooniverse.org/bats-staging/#/`

Returns to, which is missing a `?`
`http://demo.zooniverse.org/bats-staging/#/access_token=2e8c2c00148ef1fccd6...&token_type=bearer&expires_in=7200`

Should be:
`http://demo.zooniverse.org/bats-staging/#/?access_token=4410ae9a549...&token_type=bearer&expires_in=7200`

@chrissnyder is this still a problem?

Sort of.

It's only a problem on custom apps where we use HashLocation. App looks for a route at `#/access_token...` and gets lost.

Solved it on Gorongosa by catching it and redirecting appropriately (https://github.com/zooniverse/wildcam-gorongosa/blob/4cf323032d2b0eda452e67566e109baf09a8a865/app/pages/not-found.cjsx#L12-L17)

For SPAs, having the token come back a query param would be pretty great, but I also don't know the reason it sends it back as a hash.

thanks, will look into this then.

Looks like oauth spec uses fragments internally so it doesn't allow redirects with fragments,https://tools.ietf.org/html/rfc6749#section-3.1.2
>The redirection endpoint URI MUST be an absolute URI as defined by
   [RFC3986] Section 4.3.  The endpoint URI MAY include an
   "application/x-www-form-urlencoded" formatted (per Appendix B) query
   component ([RFC3986] Section 3.4), which MUST be retained when adding
   additional query parameters.  The endpoint URI MUST NOT include a
   fragment component

http://www.thread-safe.com/2014/05/oauth-2-and-fragment-encoding.html
> The reasons for fragment encoding the response were:
This enables the Java Script client to extract the response without needing to call back to it's server to extract the token and post it back to the JS client saving a round trip of the token to the browser.
The fragment encoding like POST encoding prevents the token from leaking in the referrer.
The fragment is not passed to the server as part of the URI so the server could not include it in a redirect.

@chrissnyder we could change wildcam and other projects to use the same kind of redirects in nginx that Zoo-Home does, and eliminate the fragment. 

Not the end of the world, happy to leave it as-is for the moment. Just my ignorance on why oauth uses fragment encoding.

closing this - should be able to be handled client side.